/build
/bin
/docs_site
/assets/logo_image.png
/assets/school_name_image.png
/assets/template.docx
/assets/chinese-gb7714-2005-numeric.csl
pandoc_fignos.py
pandoc_tablenos.py
pandoc_eqnos.py
*.docx
.gui_config.json
/__pycache__